<!DOCTYPE html>
<html>

<div th:fragment="sidebar">

<style>
nav{
 font-family: "Black Han Sans", sans-serif;
}
</style>

<!-- 사이드 바 -->
<nav>
	<div th:text="${sidebar[0].menuName}" class="sidebar-header"></div>
	<div th:each="category : ${sidebar}">
	  	<a 
	  	   th:href="${category.boardLink + '/' + category.id}" 
	  	   th:text="${category.categoryName}" 
	  	   th:classappend="${category.id eq menuId} ? 'active-category' : ''"
	  	   class="list-group-item list-group-item-action"></a>
	</div>
</nav>

</div>
</html>