<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="modal">
    <div class="modal fade" id="scrollingLong2" tabindex="-1" aria-labelledby="scrollingLongModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="scrollingLongModalLabel2">사진 올리기</h5>
                    <button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close"><span class="fas fa-times fs-9"></span></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <div class="mb-0">
                            제목 <input class="form-control form-control-sm" id="sizingInputSm" type="text" />
                        </div>
                        <label class="form-label" for="customFileSm">파일 선택</label>
                        <input class="form-control form-control-sm" id="customFileSm" type="file" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button">작성</button>
                    <button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="postModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="postModalLabel">Post Details</h5>
                    <button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close"><span class="fas fa-times fs-9"></span></button>
                </div>
                <div class="modal-body">
                    <!-- Post content will be loaded dynamically -->
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
