<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>데모 페이지</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS Files -->
    <link href="assets/css/variables.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">

    <!-- =======================================================
  * Template Name: ZenBlog
  * Template URL: https://bootstrapmade.com/zenblog-bootstrap-blog-template/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https:///bootstrapmade.com/license/
  ======================================================== -->

</head>

<body>
    <header id="header" class="header sticky-top">

        <div class="topbar d-flex align-items-center">
            <div class="container d-flex justify-content-center justify-content-md-between">
                <div class="contact-info d-flex align-items-center">
                </div>
                <div class="social-links d-none d-md-flex align-items-center">
                    <a href="#" class="">로그인</a>
                    <a href="#" class="">회원가입</a>
                </div>
            </div>
        </div><!-- End Top Bar -->

        <div class="branding d-flex align-items-center shadow p-3 mb-5 bg-body rounded">

            <div class="container position-relative d-flex align-items-center justify-content-between">
                <a href="index.html" class="logo d-flex align-items-center me-auto">
                    <!-- Uncomment the line below if you also wish to use an image logo -->
                    <img src="images/7.png" alt="마이애미 아름다운 장로 교회">
                    <h1 class="sitename">마이애미 아름다운 한인 교회</h1>
                </a>

                <nav id="navmenu" class="navmenu">
                    <ul>
                        <li class="dropdown"><a href="#"><span>교회 안내</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                                <li><a href="#">교회 소개</a></li>
                                <li><a href="#">예배 안내</a></li>
                                <li><a href="#">찾아오는 길</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="#"><span>주보/칼럼</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                                <li><a href="#">주보</a></li>
                                <li><a href="#">영어 설교</a></li>
                                <li><a href="#">목사 칼럼</a></li>
                                <li><a href="#">예배 영상</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="#"><span>커뮤니티</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                                <li><a href="#">교회 소식</a></li>
                                <li><a href="#">자유게시판</a></li>
                                <li><a href="#">교회 앨범</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="#"><span>교회 안내</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                                <li><a href="#">교회 소개</a></li>
                                <li><a href="#">예배 안내</a></li>
                                <li><a href="#">찾아오는 길</a></li>
                                <li><a href="#">Dropdown 4</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="#"><span>교회 안내</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                                <li><a href="#">교회 소개</a></li>
                                <li><a href="#">예배 안내</a></li>
                                <li><a href="#">찾아오는 길</a></li>
                                <li><a href="#">Dropdown 4</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="#"><span>교회 안내</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                                <li><a href="#">교회 소개</a></li>
                                <li><a href="#">예배 안내</a></li>
                                <li><a href="#">찾아오는 길</a></li>
                                <li><a href="#">Dropdown 4</a></li>
                            </ul>
                        </li>
                    </ul>
                    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                </nav>
            </div>
        </div>
    </header>

    <main id="main">
        <!-- ======= Hero Slider Section ======= -->
        <section id="hero-slider" class="hero-slider">
            <div class="container-md">
                <div class="row">
                    <div class="col-12">
                        <div class="swiper sliderFeaturedPosts">

                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a class="img-bg d-flex align-items-end" style="background-image: url('images/1.jpg');">

                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a class="img-bg d-flex align-items-end" style="background-image: url('images/2.jpg');">

                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a class="img-bg d-flex align-items-end" style="background-image: url('images/3.png');">

                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a class="img-bg d-flex align-items-end" style="background-image: url('images/4.png');">

                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="img-bg d-flex align-items-end" style="background-image: url('images/5.png');">

                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="img-bg d-flex align-items-end" style="background-image: url('images/6.jpg');">

                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="img-bg d-flex align-items-end" style="background-image: url('images/7.png');">

                                    </a>
                                </div>
                            </div>


                            <div class="custom-swiper-button-next">
                                <span class="bi-chevron-right"></span>
                            </div>
                            <div class="custom-swiper-button-prev">
                                <span class="bi-chevron-left"></span>
                            </div>

                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Hero Slider Section -->

        <!-- 김나영 -->


        <!-- Services Section -->
        <section id="services" class="services section">
            <div class="container">
                <!-- =======================================================
      교회 소식란
      ======================================================== -->
                <div class="row gy-4">
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="service-item  position-relative">
                            <div class="textbar">

                            </div>
                            <a href="#" class="stretched-link"></a>
                            <h3><strong>교회 소식</strong></h3>
                            </a>
                            <!-- 교회 소식 리스트 -->
                            <ul class="news-list">
                                <li>리스트 1</li>
                                <li>리스트 2</li>
                                <li>리스트 3</li>
                            </ul>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="service-item position-relative">
                            <a href="#" class="stretched-link">
                                <h3><strong>금주의 말씀</strong></h3>
                            </a>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="service-item position-relative">
                            <a href="#" class="stretched-link">
                                <h3><strong>아름다운 갤러리</strong></h3>
                            </a>
                            <ul class="news-list">
                                <li>리스트 1</li>
                                <li>리스트 2</li>
                                <li>리스트 3</li>
                            </ul>
                        </div>
                    </div><!-- End Service Item -->


                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="service-item position-relative">
                            <a href="#" class="stretched-link">
                                <h3>예배 안내</h3>
                            </a>
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                        <div class="service-item position-relative">
                            <a href="#" class="stretched-link">
                                <h3>교육</h3>
                            </a>

                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                        <div class="service-item position-relative">
                            <a href="#" class="stretched-link">
                                <h3><strong>찾아오시는 길</strong></h3>
                            </a>
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- End Post Grid Section -->


    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="footer-legal">
            <div class="container">

                <div class="row justify-content-between">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        <div class="copyright">
                            © Copyright <strong><span>ZenBlog</span></strong>. All Rights Reserved
                        </div>

                        <div class="credits">
                            <!-- All the links in the footer should remain intact. -->
                            <!-- You can delete the links only if you purchased the pro version. -->
                            <!-- Licensing information: https://bootstrapmade.com/license/ -->
                            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
                            <div class="copyright">
                                <strong>아름다운 장로교회</strong><br><br>
                                <strong>담임 목사</strong><strong>&nbsp&nbspTel: 0000-0000</strong>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </footer>

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>

</html>