<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>데모 페이지</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS Files -->
    <link href="assets/css/variables.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">

    <!-- =======================================================
  * Template Name: ZenBlog
  * Template URL: https://bootstrapmade.com/zenblog-bootstrap-blog-template/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https:///bootstrapmade.com/license/
  ======================================================== -->

</head>

<body>
    <header id="header" class="header sticky-top">

        <div class="topbar d-flex align-items-center">
            <div class="container d-flex justify-content-center justify-content-md-between">
                <div class="contact-info d-flex align-items-center">
                </div>
                <div class="social-links d-none d-md-flex align-items-center">
                    <a href="#" class="">로그인</a>
                    <a href="#" class="">회원가입</a>
                </div>
            </div>
        </div><!-- End Top Bar -->

        <div class="branding d-flex align-items-center shadow p-3 mb-5 bg-body rounded">

            <div class="container position-relative d-flex align-items-center justify-content-between">
                
                
                <!-- =======================================================
                ************************************************************
                    
                로고 이미지 클릭하면 인덱스 페이지로 이동
                
                ************************************************************
                ======================================================== -->
                <a href="/index">
                    <img src="images/7.png" alt="마이애미 아름다운 장로 교회" height="60px">
                </a>

                <nav id="navmenu" class="navmenu">
                    <ul>
                        <li class="dropdown"><a href="#"><span>교회 안내</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                                <li><a href="#">교회 소개</a></li>
                                <li><a href="#">예배 안내</a></li>
                                <li><a href="#">찾아오는 길</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="#"><span>주보/칼럼</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                                <li><a href="#">주보</a></li>
                                <li><a href="#">영어 설교</a></li>
                                <li><a href="#">목사 칼럼</a></li>
                                <li><a href="#">예배 영상</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="#"><span>커뮤니티</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                                <li><a href="#">교회 소식</a></li>
                                <li><a href="#">자유게시판</a></li>
                                <li><a href="#">교회 앨범</a></li>
                            </ul>
                        </li>
                    </ul>
                    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                </nav>
            </div>
        </div>
    </header>


  <main id="main">
    <section>
      <div class="container">
        <div class="row">
        <div class="col-md-3">
        <div class="aside-block">
              <h3 class="aside-title">목록</h3>
              <ul class="aside-links list-unstyled">
                <li><a href="category.html"><i class="bi bi-chevron-right"></i> 교회 소개</a></li>
                <li><a href="category.html"><i class="bi bi-chevron-right"></i> 예배 안내</a></li>
                <li><a href="category.html"><i class="bi bi-chevron-right"></i> 찾아오는 길</a></li>
                <li><a href="category.html"><i class="bi bi-chevron-right"></i> Food</a></li>
                <li><a href="category.html"><i class="bi bi-chevron-right"></i> Politics</a></li>
                <li><a href="category.html"><i class="bi bi-chevron-right"></i> Celebrity</a></li>
                <li><a href="category.html"><i class="bi bi-chevron-right"></i> Startups</a></li>
                <li><a href="category.html"><i class="bi bi-chevron-right"></i> Travel</a></li>
              </ul>
            </div><!-- End Categories -->
        </div>
        </div>
        </div>
        </section>
  </main><!-- End #main -->
</body>
</html>