<html layout:decorate="~{layout_main}">
<div layout:fragment="content_main">

             
                <nav id="navmenu" class="navmenu">
                    <ul>
                        <li class="dropdown"><a href="#"><span>교회 안내</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                                <li><a href="#">교회 소개</a></li>
                                <li><a href="#">예배 안내</a></li>
                                <li><a href="#">찾아오는 길</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="#"><span>주보/칼럼</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                                <li><a href="#">주보</a></li>
                                <li><a href="#">영어 설교</a></li>
                                <li><a href="#">목사 칼럼</a></li>
                                <li><a href="#">예배 영상</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="#"><span>커뮤니티</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                                <li><a href="#">교회 소식</a></li>
                                <li><a href="#">자유게시판</a></li>
                                <li><a href="#">교회 앨범</a></li>
                            </ul>
                        </li>
                    </ul>
                    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                </nav>
        
        <p><iframe frameborder="0" src="//www.youtube.com/embed/ky5tDrbq7Fw" width="640" height="360" class="note-video-clip"></iframe><br></p>
</div>
</html>