<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/css/banner.css" rel="stylesheet">
<head>
<meta charset="UTF-8">
<title>배너이미지 변경페이지</title>
</head>
<body>

<table class="table table-striped table-hover">
<thead class="table-dark">
        <tr>
            <th>번호</th>
            <th>배너 이미지</th>
            <th>변경 버튼</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="banner, loop : ${banners}">
            <td th:text="${loop.count}"></td>
            <td th:text="${banner.image}"></td>
            <td class="banner_change">
                <button onclick="showForm(this)" th:data-id="${banner.id}">변경</button>
                <form th:id="'form-' + ${banner.id}" th:action="@{|/banner/update/${banner.id}|}" method="post" enctype="multipart/form-data" style="display:none;">
                    <input type="hidden" name="id" th:value="${banner.id}">
                    <input type="file" name="image">
                    <button type="submit">업데이트</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>

<script>
    function showForm(button) {
        var bannerId = button.getAttribute('data-id');
        var form = document.getElementById('form-' + bannerId);
        form.style.display = (form.style.display === 'block') ? 'none' : 'block';
    }
</script>
</body>
</html>
