<html layout:decorate="~{layouts/layout_main}">
<div layout:fragment="content_main">
<link href="/assets/css/index_style.css" rel="stylesheet">
<script th:src="${mapsApiUrl}"></script>
<script>
function initMap() {
	var location = { lat: 25.578691, lng: -80.356109 }; // 예시 좌표
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: location
    });
    var marker = new google.maps.Marker({
        position: location,
        map: map
    });
}
    </script>

    <main id="main" style="margin-top:100px">
    <div class="bg-img">
    	
    	<!-- =======================================================
        ************************************************************
                            
        이미지 슬라이더
                            
        ************************************************************
        ======================================================== -->
        <!-- ======= Hero Slider Section ======= -->
        <section id="hero-slider" class="hero-slider">
            <div class="container-md">
                <div class="row">
                    <div class="col-12 pe-0 ps-0" style="height:400px">
                        <div class="swiper sliderFeaturedPosts" style="height:400px">
                            <div class="swiper-wrapper">

                                <div class="swiper-slide" th:each="banner : ${banners}">
                                    
                                    <a class="img-bg d-flex align-items-end" th:style="'background-image: url(' + ${downpath} + '/' + ${banner.image} + ')'"></a>

                                </div>
                            </div>


                            <div class="custom-swiper-button-next">
                                <span class="bi-chevron-right"></span>
                            </div>
                            <div class="custom-swiper-button-prev">
                                <span class="bi-chevron-left"></span>
                            </div>

                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Hero Slider Section -->
</div>
        
      <!-- =======================================================
    ************************************************************
                
    아이콘
                
    ************************************************************
    ======================================================== -->
        <div class="white-background">
        	 <div class="icon-container">
		        <div class="icon-item">

			        <a href="/form1/1">
			            <img src="https://jindevbucket.s3.ap-northeast-2.amazonaws.com/ab1e3c49-250b-461a-aa53-49d51539fea1_icon1.png" alt="교회소개" class="rotate-vert-center">

			            <span>교회소개</span>
		            </a>
		        </div>
		        <div class="icon-item">

			        <a href="/form1/2">
			            <img src="https://jindevbucket.s3.ap-northeast-2.amazonaws.com/272e67b0-458a-44de-bbdc-38c1519d3268_icon2.png" alt="예배안내" class="rotate-vert-center">

			            <span>예배안내</span>
		            </a>
		        </div>
		        <div class="icon-item">
			         <a class="ani-item" href="https://www.youtube.com/channel/UCMXR9kDxdjctI6jXSa5zx_Q" target="_blank">
			            <img src="https://jindevbucket.s3.ap-northeast-2.amazonaws.com/ca744727-8bde-44c1-84f6-7f8e50ba3156_icon3.png" alt="유튜브" class="fade-in-fwd">
			            <span>유튜브</span>
		            </a>
		        </div>
		        <div class="icon-item">
			        <a href="/form2/5">
			            <img src="https://jindevbucket.s3.ap-northeast-2.amazonaws.com/a7d2c3b7-5ac0-4cbe-9bf1-fde47692bb81_icon4.png" alt="영어설교" class="fade-in-fwd">
			            <span>영어설교</span>
		            </a>
		        </div>
		        <div class="icon-item">
			        <a href="/form2/6">
			            <img src="https://jindevbucket.s3.ap-northeast-2.amazonaws.com/55e0b163-6c99-43c5-a794-edca65e5a939_icon5.png" alt="목사칼럼" class="fade-in-fwd">
			            <span>목사칼럼</span>
		            </a>
		        </div>
		    </div>
        </div>
		
		
		
		
    <!-- =======================================================
    ************************************************************
                
    주요 섹션
                
    ************************************************************
    ======================================================== -->
     <section style="padding-top:0; padding:0;">
        <div class="blue-background">
            <div class="container">
                <div class="section-content">
                    <div class="section-item">
                    	<a href="/form2/8">
                        	<h3 class="section-title">교회 소식</h3>
                        </a>
                        <ul class="news-list" >
                            <li th:each="news : ${news}" class="news-content">
                            <a th:href="@{|/form2/${news.menuId}/detail/${news.id}|}" >
                            	 <span class="news-title" th:text="${news.title}"></span>	 
                            </a>
                            	<span class="news-date" th:text="${#temporals.format(news.createDate, 'yyyy-MM-dd')}"></span>
                            </li>
                        	<li th:if="${#lists.isEmpty(news)}" style="color:white;">현재 게시물이 없습니다</li>
                        </ul>
                    </div>
                    <div class="section-item">
                   	    <a href="/form2/4">	
                        	<h3 class="section-title">주보</h3>
                        </a>
                        <ul class="news-list">
                           <li th:each="weekly : ${weekly}" class="news-content">
                            <a th:href="@{|/form2/${weekly.menuId}/detail/${weekly.id}|}" >
                            	 <span class="news-title" th:text="${weekly.title}"></span>	 
                            </a>
                            	<span class="news-date" th:text="${#temporals.format(weekly.createDate, 'yyyy-MM-dd')}"></span>
                            </li>
                        	<li th:if="${#lists.isEmpty(weekly)}" style="color:white;">현재 게시물이 없습니다</li>
                        </ul>
                    </div>
                    <div class="section-item">
                    	<a href="/form2/9">
                        	<h3 class="section-title">자유게시판</h3>
                        </a>
                        <ul class="news-list">
                            <li th:each="free : ${free}" class="news-content">
                            <a th:href="@{|/form2/${free.menuId}/detail/${free.id}|}" >
                            	 <span class="news-title" th:text="${free.title}"></span>	 
                            </a>
                            	<span class="news-date" th:text="${#temporals.format(free.createDate, 'yyyy-MM-dd')}"></span>
                            </li>
                        	<li th:if="${#lists.isEmpty(free)}" style="color:white;">현재 게시물이 없습니다</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Main Sections -->
    
    
     <!-- =======================================================
    ************************************************************
                
    교회 앨범
                
    ************************************************************
    ======================================================== -->
    <section class="album-section gray-background">
        <div class="container">
        	<a href="/form3/10" class="link-album">
            	<h3 style="margin-left:13px"><strong>교회 앨범</strong></h3>
            </a>
            <div class="album-content">
                <div class="album-item" data-aos="fade-up" th:each="image : ${image}">
                <a href="/form3/10">
                    <img th:src="|${downpath}/${image.mediaLink}|" alt="앨범 이미지">
                    <div class="image-overlay">
	                    <div class="image-title" th:text="${image.title}"></div>
	                    <div class="image-date" th:text="${#temporals.format(image.createDate, 'yyyy-MM-dd')}"></div>
                </div>
                </a>
                </div>
            </div>
        </div>
    </section><!-- End Album Section -->
    
    
    
                    
                  <!-- =======================================================
    ************************************************************
                    
    찾아오시는 길 섹션
                    
    ************************************************************
    ======================================================== -->
    <section id="location" class="location">
        <div class="container">
            <div class="row gy-4">
                 <div class="col-lg-6 col-md-12">
                        <div class="service-item position-relative">
                            <a href="/form1/3" class="stretched-link">
                                <h3><strong>찾아오시는 길</strong></h3>
                            </a>
                            <a href="/form1/3" class="stretched-link">
                            	<h4>10201 Bahia Dr, Miami, FL 33189</h4>
							    <div id="map" style="height: 270px; width: 100%;">	</div>
                            </a>
                        </div>
                    </div>
                     <div class="col-lg-6">
			            <form action="/contact" method="post" >
			            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			              <div class="row gy-4">
			              <h3 style="color:#1977CC"><strong>contact</strong></h3>
			                <div class="col-md-6">
				                 <input type="text" name="name" class="form-control" placeholder="Your Name" required>
				            </div>
				            <div class="col-md-6 ">
				                 <input type="email" class="form-control" name="email" placeholder="Your Email" required>
				            </div>
				            <div class="col-md-12">
				                 <input type="text" class="form-control" name="subject" placeholder="Subject" required>
				            </div>
				            <div class="col-md-12">
				                 <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
				            </div>
				            <div class="col-md-12 text-center">				         
								<button class="btn btn-primary" type="submit">Send Message</button>
			                </div>
			              </div>
			            </form>
          			</div><!-- End Contact Form -->
            </div>
        </div>
        
    </section>


    </main><!-- End #main -->

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const titles = document.querySelectorAll('.news-title');
        titles.forEach(title => {
            const maxLength = 15; // 제목의 최대 길이 설정
            if (title.textContent.length > maxLength) {
                title.textContent = title.textContent.substring(0, maxLength) + '...';
            }
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const elements = document.querySelectorAll('.flip-in-ver-right');

        elements.forEach(element => {
            element.addEventListener('animationend', () => {
                element.classList.remove('animate');
            });

            element.addEventListener('mouseover', () => {
                element.classList.add('animate');
            });
        });
    });
</script>

</div>
</html>