<html layout:decorate="~{layouts/layout_main}">
<div layout:fragment="content_main">

    <main id="main">
    	
    	<!-- =======================================================
        ************************************************************
                            
        이미지 슬라이더
                            
        ************************************************************
        ======================================================== -->
        <!-- ======= Hero Slider Section ======= -->
        <section id="hero-slider" class="hero-slider">
            <div class="container-md">
                <div class="row">
                    <div class="col-12">
                        <div class="swiper sliderFeaturedPosts">
                            <div class="swiper-wrapper">

                                <div class="swiper-slide" th:each="banner : ${banners}">
                                    
                                    <a class="img-bg d-flex align-items-end" th:style="'background-image: url(' + ${downpath} + '/' + ${banner.image} + ')'"></a>

                                </div>
                            </div>


                            <div class="custom-swiper-button-next">
                                <span class="bi-chevron-right"></span>
                            </div>
                            <div class="custom-swiper-button-prev">
                                <span class="bi-chevron-left"></span>
                            </div>

                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Hero Slider Section -->

        <!-- 김나영 -->


        <!-- Services Section -->
        <section id="services" class="services section">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-4 col-md-12">
                        <div class="service-item bg-image-1 position-relative ">              
                            <div class="textbar">
                            <!-- =======================================================
                            ************************************************************
                            
                            교회소식란
                            
                            ************************************************************
                            ======================================================== -->
                            </div>
                            <a href="/nav_exam" class="stretched-link"></a>
                            <h3><strong>교회 소식</strong></h3>
                            </a>
                            <!-- 교회 소식 리스트 -->
                            <ul class="news-list" th:each="news : ${news}">
                            	
                                <li>[[${#temporals.format(news.createDate, 'yyyy-MM-dd')}]] [[${news.title}]]</li>
                                
                            </ul>
                        </div>
                    </div><!-- End Service Item -->
                    
                    <!-- =======================================================
                    ************************************************************
                            
                    금주의 말씀
                            
                    ************************************************************
                    ======================================================== -->
                    <div class="col-lg-4 col-md-12">
                        <div class="service-item bg-image-2 position-relative">
                            <a href="#" class="stretched-link">
                                <h3><strong>주보</strong></h3>
                            </a>
                            <ul class="news-list" th:each="weekly : ${weekly}">
                            	
                                <li>[[${#temporals.format(weekly.createDate, 'yyyy-MM-dd')}]] [[${weekly.title}]]</li>
                                
                            </ul>
                        </div>
                    </div><!-- End Service Item -->
                    
                    
                    <!-- =======================================================
                    ************************************************************
                    
                    갤러리
                    
                    ************************************************************
                    ======================================================== -->
                    <div class="col-lg-4 col-md-12">
                        <div class="service-item bg-image-3 position-relative">
                            <a href="#" class="stretched-link">
                                <h3><strong>목사 칼럼</strong></h3>
                            </a>
                            <!-- class 추가 -->
                             <ul class="news-list" th:each="column : ${column}">
                            	
                                <li>[[${#temporals.format(column.createDate, 'yyyy-MM-dd')}]] [[${column.title}]]</li>
                                
                            </ul>
                        </div>
                    </div><!-- End Service Item -->
                    
                    <!-- =======================================================
                    ************************************************************
                            
                    예배 안내
                            
                    ************************************************************
                    ======================================================== -->
                    <div class="col-lg-4 col-md-12" data-aos="fade-up" data-aos-delay="100">
                        <div class="service-item position-relative">
                            <a href="#" class="stretched-link">
                                <h3>예배 안내</h3>
                            </a>
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div><!-- End Service Item -->
                    
                    <!-- =======================================================
                    ************************************************************
                    
                    교육란 - 클릭시 게시판 교육
                    
                    ************************************************************
                    ======================================================== -->
                    <div class="col-lg-4 col-md-12" data-aos="fade-up" data-aos-delay="100">
                        <div class="service-item position-relative">
                            <a href="#" class="stretched-link">
                                <h3>교육</h3>
                            </a>

                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div><!-- End Service Item -->
                    
                    <!-- =======================================================
                    ************************************************************
                    
                    클릭 시 게시판 - 지도 표시 예정
                    
                    ************************************************************
                    ======================================================== -->
                    <div class="col-lg-4 col-md-12" data-aos="fade-up" data-aos-delay="100">
                        <div class="service-item position-relative">
                            <a href="#" class="stretched-link">
                                <h3><strong>찾아오시는 길</strong></h3>
                            </a>
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- End Post Grid Section -->


    </main><!-- End #main -->

</div>
</html>