<html layout:decorate="~{layout_main}">
<div layout:fragment="content_main">

    <header id="header" class="header sticky-top">

        <div class="topbar d-flex align-items-center">
            <div class="container d-flex justify-content-center justify-content-md-between">
                <div class="contact-info d-flex align-items-center">
                </div>
                <div class="social-links d-none d-md-flex align-items-center">
                    <a href="#" class="">로그인</a>
                    <a href="#" class="">회원가입</a>
                </div>
            </div>
        </div><!-- End Top Bar -->

        <div class="branding d-flex align-items-center shadow p-3 mb-5 bg-body rounded">

            <div class="container position-relative d-flex align-items-center justify-content-between">
                <a href="/">
                    <!-- Uncomment the line below if you also wish to use an image logo -->
                    <img src="images/7.png" alt="마이애미 아름다운 장로 교회" height="60px">
                </a>

                <nav id="navmenu" class="navmenu">
                    <ul>
                        <li class="dropdown"><a href="#"><span>교회 안내</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                                <li><a href="#">교회 소개</a></li>
                                <li><a href="#">예배 안내</a></li>
                                <li><a href="#">찾아오는 길</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="#"><span>주보/칼럼</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                                <li><a href="#">주보</a></li>
                                <li><a href="#">영어 설교</a></li>
                                <li><a href="#">목사 칼럼</a></li>
                                <li><a href="#">예배 영상</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="#"><span>커뮤니티</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                                <li><a href="#">교회 소식</a></li>
                                <li><a href="#">자유게시판</a></li>
                                <li><a href="#">교회 앨범</a></li>
                            </ul>
                        </li>
                    </ul>
                    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                </nav>
            </div>
        </div>
    </header>

    <main id="main">
        <!-- ======= Hero Slider Section ======= -->
        <section id="hero-slider" class="hero-slider">
            <div class="container-md">
                <div class="row">
                    <div class="col-12">
                        <div class="swiper sliderFeaturedPosts">

                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a class="img-bg d-flex align-items-end" style="background-image: url('images/1.jpg');">

                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a class="img-bg d-flex align-items-end" style="background-image: url('images/2.jpg');">

                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a class="img-bg d-flex align-items-end" style="background-image: url('images/3.png');">

                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a class="img-bg d-flex align-items-end" style="background-image: url('images/4.png');">

                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="img-bg d-flex align-items-end" style="background-image: url('images/5.png');">

                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="img-bg d-flex align-items-end" style="background-image: url('images/6.jpg');">

                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="img-bg d-flex align-items-end" style="background-image: url('images/7.png');">

                                    </a>
                                </div>
                            </div>


                            <div class="custom-swiper-button-next">
                                <span class="bi-chevron-right"></span>
                            </div>
                            <div class="custom-swiper-button-prev">
                                <span class="bi-chevron-left"></span>
                            </div>

                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Hero Slider Section -->

        <!-- 김나영 -->


        <!-- Services Section -->
        <section id="services" class="services section">
            <div class="container">
                <!-- =======================================================
      교회 소식란
      ======================================================== -->
                <div class="row gy-4">
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item  position-relative">
                            <div class="textbar">

                            </div>
                            <a href="#" class="stretched-link"></a>
                            <h3><strong>교회 소식</strong></h3>
                            </a>
                            <!-- 교회 소식 리스트 -->
                            <ul class="news-list">
                                <li>리스트 1</li>
                                <li>리스트 2</li>
                                <li>리스트 3</li>
                            </ul>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6">
                        <div class="service-item position-relative">
                            <a href="#" class="stretched-link">
                                <h3><strong>금주의 말씀</strong></h3>
                            </a>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6">
                        <div class="service-item position-relative">
                            <a href="#" class="stretched-link">
                                <h3><strong>아름다운 갤러리</strong></h3>
                            </a>
                            <!-- class 추가 -->
                            <ul class="news-list">
                                <li>리스트 1</li>
                                <li>리스트 2</li>
                                <li>리스트 3</li>
                            </ul>
                        </div>
                    </div><!-- End Service Item -->


                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="service-item position-relative">
                            <a href="#" class="stretched-link">
                                <h3>예배 안내</h3>
                            </a>
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="service-item position-relative">
                            <a href="#" class="stretched-link">
                                <h3>교육</h3>
                            </a>

                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="service-item position-relative">
                            <a href="#" class="stretched-link">
                                <h3><strong>찾아오시는 길</strong></h3>
                            </a>
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- End Post Grid Section -->


    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="footer-legal">
            <div class="container">

                <div class="row justify-content-between">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        <div class="copyright">
                            © Copyright <strong><span>ZenBlog</span></strong>. All Rights Reserved
                        </div>

                        <div class="credits">
                            <!-- All the links in the footer should remain intact. -->
                            <!-- You can delete the links only if you purchased the pro version. -->
                            <!-- Licensing information: https://bootstrapmade.com/license/ -->
                            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
                            <div class="copyright">
                                <strong>아름다운 장로교회</strong><br><br>
                                <strong>담임 목사</strong><strong>&nbsp&nbspTel: 0000-0000</strong>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </footer>

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

</div>
</html>