<html layout:decorate="~{layouts/layout_board}">
<div layout:fragment="content_main">
	<style>
		.comment-item {
	            border-bottom: 1px solid #dee2e6; /* 선 추가 */
	            padding: 10px 0;
	    }
	    .comment-list {
	            list-style-type: none;
	            padding: 0;
	    }
	</style>
<h2 class="mb-3">[[${MenuCate.categoryName}]]</h2>
					    <div class="container mt-3">
					    	<div class="row justify-content-end">
					        	<div class="col-auto">
					        		<!-- =======================================================
				                    ************************************************************
				                    
				                    브레드크럼-현재 위치
				                    
				                    ************************************************************
				                    ======================================================== -->
					            	<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
						                <ol class="breadcrumb">
						                    <li class="breadcrumb-item active">Home</li>
						                    <li class="breadcrumb-item active" aria-current="page">커뮤니티</li>
						                    <li class="breadcrumb-item active" aria-current="page">자유게시판</li>
						                </ol>
					            	</nav>
					        	</div>
					    	</div>
						</div>
						
						
						
 
  <div class="container">
            <!-- 제목 -->
            <div class="border-bottom mb-3">
            <h3 th:text="${board.title}"></h3>
            </div>
            <!-- 작성자, 작성일시 -->
            <div class="row border-bottom">
                <div class="col-md-6">
                    <p>작성자: <span th:text="${board.author}"></span></p>
                </div>
                <div class="col-md-6 text-right">
                    <p>작성일시: <span th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}"></span></p>
                </div>
            </div>
            
            <!-- 내용 -->
            <div class="border-bottom py-3">
            <div th:utext="${board.content}" id="content"></div>
            </div>
            <!-- 삭제, 수정 버튼 -->
            <div class="text-right mt-3">
                <a th:href="@{''+${MenuCate.boardLink}+ '/' + ${menuId} + '/delete/' + ${boardId}}" class="btn btn-danger">삭제</a>
                <a th:href="@{''+${MenuCate.boardLink}+ '/' + ${menuId} + '/update/' + ${boardId}}" class="btn btn-warning">수정</a>
            </div>
            
            <!-- 댓글 목록 -->
            <div class="border-bottom mt-4">
            <h5 class="mt-4 mb-3" th:text="|${#lists.size(board.commentList)}개의 댓글이 있습니다.|"></h5>
            </div>
            <ul class="comment-list">
                <li th:each="comment : ${board.commentList}" class="comment-item">
                    <span th:text="${comment.content}"></span>
                    <a th:href="@{'/comment'+ '/' + ${menuId} + '/delete/' + ${boardId} + '/' + ${comment.id}}" class="btn btn-danger">삭제</a>
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" th:data-bs-content="${comment.content}" th:data-bs-id="${comment.id}">수정</button>
                    
                </li>
            </ul>



<!-- 모달 -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form th:action="@{|/comment/update/${MenuCate.id}|}" method="post">
            <input type="hidden" class="cid" id="recipient-name-id" name="commentId">
          <div class="mb-3">
            <label for="content" class="col-form-label">댓글	:</label>
            <input class="form-control" id="recipient-name-content" name="commentContent"></input>
          </div>
          <input type="submit" value="저장">
        </form>
      </div>

    </div>
  </div>
</div>
            
            <!-- 댓글 입력 폼 -->
            <div class="mt-4">
                <h5>댓글 작성</h5>
                <form th:action="@{|/comment/${MenuCate.id}/create/${board.id}|}" method="post">
                    <div class="form-group">
                        <textarea class="form-control" rows="4" name="content" placeholder="댓글을 입력하세요"></textarea>
                    </div>
                    <div class="text-right">
                    <button type="submit" class="btn btn-primary">답변 등록</button>
                    </div>
                </form>
            </div>
            
            
            
</div>
        
<script>


const exampleModal = document.getElementById('exampleModal')
if (exampleModal) {
  exampleModal.addEventListener('show.bs.modal', event => {
    // Button that triggered the modal
    const button = event.relatedTarget
    // Extract info from data-bs-* attributes
    const recipient = button.getAttribute('data-bs-id')
    const ccc = button.getAttribute('data-bs-content')
    // If necessary, you could initiate an Ajax request here

    const modalBodyInput = document.getElementById('recipient-name-id')
    const modalBodyText = document.getElementById('recipient-name-content')
    modalBodyInput.value = recipient
    modalBodyText.value = ccc
  })
}
</script> 
        
</div>
</html>