<html layout:decorate="~{layouts/layout_board}">
<div layout:fragment="content_main">
    <link href="/assets_i/css/img_board_style.css" rel="stylesheet">
    <h2 class="mb-3">[[${MenuCate.categoryName}]]</h2>

    <!-- Blog Posts Section -->
    <section id="blog-posts" class="blog-posts section">
        <div class="container">
            <div class="d-flex justify-content-end mb-4">
                <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#scrollingLong2">사진올리기</button>
            </div>
            <div class="modal fade" id="scrollingLong2" tabindex="-1" aria-labelledby="scrollingLongModalLabel2" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="scrollingLongModalLabel2">사진 올리기</h5>
                            <button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close"><span class="fas fa-times fs-9"></span></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <div class="mb-0">
                                    제목 <input class="form-control form-control-sm" id="sizingInputSm" type="text" />
                                </div>
                                <label class="form-label" for="customFileSm">파일 선택</label>
                                <input class="form-control form-control-sm" id="customFileSm" type="file" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="button">작성</button>
                            <button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal">취소</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gy-4">
                <div class="col-lg-4">
                    <article>
                        <div class="post-img">
                            <img src="/images/1.jpg" alt="" class="img-fluid">
                        </div>
                        <h2 class="title">
                            <a href="blog-details.html">제목 1</a>
                        </h2>

                        <div class="d-flex align-items-center">
                            <div class="post-meta">
                                <p class="post-author">작성자 1</p>
                                <p class="post-date">
                                    <time datetime="2022-01-01">날짜 1</time>
                                </p>
                            </div>
                        </div>

                    </article>
                </div><!-- End post list item -->

                <div class="col-lg-4">
                    <article>
                        <div class="post-img">
                            <img src="/images/1.jpg" alt="" class="img-fluid">
                        </div>
                        <h2 class="title">
                            <a href="blog-details.html">제목 2</a>
                        </h2>

                        <div class="d-flex align-items-center">
                            <div class="post-meta">
                                <p class="post-author">작성자 2</p>
                                <p class="post-date">
                                    <time datetime="2022-01-01">날짜 2</time>
                                </p>
                            </div>
                        </div>

                    </article>
                </div><!-- End post list item -->

                <div class="col-lg-4">
                    <article>
                        <div class="post-img">
                            <img src="/images/1.jpg" alt="" class="img-fluid">
                        </div>
                        <h2 class="title">
                            <a href="blog-details.html">제목 3</a>
                        </h2>

                        <div class="d-flex align-items-center">
                            <div class="post-meta">
                                <p class="post-author">작성자 3</p>
                                <p class="post-date">
                                    <time datetime="2022-01-01">날짜 3</time>
                                </p>
                            </div>
                        </div>

                    </article>
                </div><!-- End post list item -->

                <div class="col-lg-4">
                    <article>
                        <div class="post-img">
                            <img src="/images/1.jpg" alt="" class="img-fluid">
                        </div>
                        <h2 class="title">
                            <a href="blog-details.html">제목 4</a>
                        </h2>

                        <div class="d-flex align-items-center">
                            <div class="post-meta">
                                <p class="post-author">작성자 4</p>
                                <p class="post-date">
                                    <time datetime="2022-01-01">날짜 4</time>
                                </p>
                            </div>
                        </div>

                    </article>
                </div><!-- End post list item -->

                <div class="col-lg-4">
                    <article>
                        <div class="post-img">
                            <img src="/images/1.jpg" alt="" class="img-fluid">
                        </div>
                        <h2 class="title">
                            <a href="blog-details.html">제목 5</a>
                        </h2>

                        <div class="d-flex align-items-center">
                            <div class="post-meta">
                                <p class="post-author">작성자 5</p>
                                <p class="post-date">
                                    <time datetime="2022-01-01">날짜 5</time>
                                </p>
                            </div>
                        </div>

                    </article>
                </div><!-- End post list item -->

                <div class="col-lg-4">
                    <article>
                        <div class="post-img">
                            <img src="/images/1.jpg" alt="" class="img-fluid">
                        </div>
                        <h2 class="title">
                            <a href="blog-details.html">제목 6</a>
                        </h2>

                        <div class="d-flex align-items-center">
                            <div class="post-meta">
                                <p class="post-author">작성자 6</p>
                                <p class="post-date">
                                    <time datetime="2022-01-01">날짜 6</time>
                                </p>
                            </div>
                        </div>

                    </article>
                </div><!-- End post list item -->

                <div class="col-lg-4">
                    <article>
                        <div class="post-img">
                            <img src="/images/1.jpg" alt="" class="img-fluid">
                        </div>
                        <h2 class="title">
                            <a href="blog-details.html">제목 7</a>
                        </h2>

                        <div class="d-flex align-items-center">
                            <div class="post-meta">
                                <p class="post-author">작성자 7</p>
                                <p class="post-date">
                                    <time datetime="2022-01-01">날짜 7</time>
                                </p>
                            </div>
                        </div>

                    </article>
                </div><!-- End post list item -->

                <div class="col-lg-4">
                    <article>
                        <div class="post-img">
                            <img src="/images/1.jpg" alt="" class="img-fluid">
                        </div>
                        <h2 class="title">
                            <a href="blog-details.html">제목 8</a>
                        </h2>

                        <div class="d-flex align-items-center">
                            <div class="post-meta">
                                <p class="post-author">작성자 8</p>
                                <p class="post-date">
                                    <time datetime="2022-01-01">날짜 8</time>
                                </p>
                            </div>
                        </div>

                    </article>
                </div><!-- End post list item -->

                <div class="col-lg-4">
                    <article>
                        <div class="post-img">
                            <img src="/images/1.jpg" alt="" class="img-fluid">
                        </div>
                        <h2 class="title">
                            <a href="blog-details.html">제목 9</a>
                        </h2>

                        <div class="d-flex align-items-center">
                            <div class="post-meta">
                                <p class="post-author">작성자 9</p>
                                <p class="post-date">
                                    <time datetime="2022-01-01">날짜 9</time>
                                </p>
                            </div>
                        </div>

                    </article>
                </div><!-- End post list item -->

            </div>
        </div>

    </section><!-- /Blog Posts Section -->

    <!-- Blog Pagination Section -->
    <section id="blog-pagination" class="blog-pagination section">

        <div class="container">
            <div class="d-flex justify-content-center">
                <ul>
                    <li><a href="#"><i class="bi bi-chevron-left"></i></a></li>
                    <li><a href="#" class="active">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li>...</li>
                    <li><a href="#">10</a></li>
                    <li><a href="#"><i class="bi bi-chevron-right"></i></a></li>
                </ul>
            </div>
        </div>
    </section><!-- /Blog Pagination Section -->
</div>

</html>