<html layout:decorate="~{layouts/layout_board}">
<div layout:fragment="content_main">


<h2 class="mb-3">[[${MenuCate.categoryName}]]</h2>
					    <div class="container mt-3">
					    	<div class="row justify-content-end">
					        	<div class="col-auto">
					        		<!-- =======================================================
				                    ************************************************************
				                    
				                    브레드크럼-현재 위치
				                    
				                    ************************************************************
				                    ======================================================== -->
					            	<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
						                <ol class="breadcrumb">
						                    <li class="breadcrumb-item active">Home</li>
						                    <li class="breadcrumb-item active" aria-current="page">커뮤니티</li>
						                    <li class="breadcrumb-item active" aria-current="page">자유게시판</li>
						                </ol>
					            	</nav>
					        	</div>
					    	</div>
						</div>
						<!-- =======================================================
				        ************************************************************
				                    
				        게시판-공지글은 class로 스타일이 지정이 안돼 inline으로 스타일 지정
				                    
				        ************************************************************
				        ======================================================== -->					
					    <table class="table ">
					        <thead>
					        <tr>
					            <th>번호</th>
					            <th>제목</th>
					            <th>등록일</th>
					            <th>작성자</th>
					            <th>조회</th>
					        </tr>
					        </thead>
					        <tbody>
						         <tr th:each="board : ${boardList}" th:if="${board.notice}">						    
						            <td Style="background-color:#DCDCDC">공지</td>
						            <td Style="background-color:#DCDCDC">
						            	<a th:href="@{'' + ${MenuCate.id} + '/detail/' + ${board.id}}" th:text="${board.title}"></a>
						            	<span class="text small ms-2" th:text="|(${#lists.size(board.commentList)})|"></span>
					            	</td>
						            <td Style="background-color:#DCDCDC" th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}"></td>
						            <td Style="background-color:#DCDCDC" th:text="${board.author}"></td>
						            <td Style="background-color:#DCDCDC" th:text="${board.viewcount}"></td>
						        </tr>
						        <tr th:each="board : ${boardList}" th:if="${!board.notice}" class="normal-row" style="cursor: pointer;">						    
						            <td  class="number"></td>
						           		<td style="cursor: pointer;" th:onclick="'redirectToDetail(' + ${board.id} + ', ' + ${MenuCate.id} + ')'">
						            	<a th:href="@{'' + ${MenuCate.id} + '/detail/' + ${board.id}}" th:text="${board.title}"></a>  
						            	<span class="text small ms-2" th:text="|(${#lists.size(board.commentList)})|"></span>
						            	</td>
						            <td  th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}"></td>
						            <td  th:text="${board.author}"></td>
						            <td  th:text="${board.viewcount}"></td>
						        </tr>
						       
						       
					        </tbody>
					    </table>
					    	<!-- =======================================================
				            ************************************************************
				                    
				            페이징 기능
				                    
				            ************************************************************
				            ======================================================== -->
					        <div aria-label="Page navigation">
					            <ul class="pagination justify-content-center">
					                <li class="page-item">
					                    <a class="page-link" href="#" aria-label="Previous">
					                        <span aria-hidden="true">&laquo;</span>
					                    </a>
					                </li>
					                <li class="page-item"><a class="page-link" href="#">1</a></li>
					                <li class="page-item"><a class="page-link" href="#">2</a></li>
					                <li class="page-item"><a class="page-link" href="#">3</a></li>
					                <li class="page-item">
					                    <a class="page-link" href="#" aria-label="Next">
					                        <span aria-hidden="true">&raquo;</span>
					                    </a>
					                </li>
					            </ul>
					        </div>
 
<a class="btn btn-primary" th:href="${MenuCate.boardLink + '/create/' + MenuCate.id}">작성</a>

	<script>
        document.addEventListener("DOMContentLoaded", function() {
            var normalRows = document.querySelectorAll('tr.normal-row');
            var totalCount = normalRows.length;
            normalRows.forEach(function(row, index) {
                row.querySelector('.number').textContent = totalCount - index;
            });
        });
    </script>
    
      <script th:inline="javascript">
        function redirectToDetail(boardId, menuCateId) {
            var url = '/form2/' + menuCateId + '/detail/' + boardId;
            window.location.href = url;
        }
    </script>

</div>
</html>