<html layout:decorate="~{layouts/layout_board}">
<div layout:fragment="content_main">
<h2 class="mb-3">[[${MenuCate.categoryName}]]</h2>
					    <div class="container mt-3">
					    	<div class="row justify-content-end">
					        	<div class="col-auto">
					        		<!-- =======================================================
				                    ************************************************************
				                    
				                    브레드크럼-현재 위치
				                    
				                    ************************************************************
				                    ======================================================== -->
					            	<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
						                <ol class="breadcrumb">
						                    <li class="breadcrumb-item active">Home</li>
						                    <li class="breadcrumb-item active" aria-current="page">커뮤니티</li>
						                    <li class="breadcrumb-item active" aria-current="page">자유게시판</li>
						                </ol>
					            	</nav>
					        	</div>
					    	</div>
						</div>
						<!-- =======================================================
				        ************************************************************
				                    
				        게시판-공지글은 class로 스타일이 지정이 안돼 inline으로 스타일 지정
				                    
				        ************************************************************
				        ======================================================== -->					
					    <table class="table ">
					        <thead>
					        <tr>
					            <th>번호</th>
					            <th>제목</th>
					            <th>등록일</th>
					            <th>작성자</th>
					            <th>조회</th>
					        </tr>
					        </thead>
					        <tbody>
						         <tr th:each="board : ${notices}" th:if="${board.notice}" >						    
						            <td Style="background-color:#DCDCDC">공지</td>
						            <td Style="background-color:#DCDCDC">
						            	<a th:href="@{'' + ${MenuCate.id} + '/detail/' + ${board.id}}" th:text="${board.title}"></a>  
						            	<span th:if="${board.commentList.size() > 0}">(<span th:text="${board.commentList.size()}"></span>)</span>
						            	</td>
						            <td Style="background-color:#DCDCDC" th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}"></td>
						            <td Style="background-color:#DCDCDC" th:text="${board.author}"></td>
						            <td Style="background-color:#DCDCDC" th:text="${board.viewcount}"></td>
						        </tr>
						        <tr th:each="board,loop : ${paging}" th:if="${!board.notice}" class="normal-row" style="cursor: pointer;">						    
						            <td th:text="${paging.totalElements - (paging.number * paging.size) - loop.index}"></td>
						           		<td style="cursor: pointer;" th:onclick="'redirectToDetail(' + ${board.id} + ', ' + ${MenuCate.id} + ')'">
						            	<a th:href="@{'' + ${MenuCate.id} + '/detail/' + ${board.id}}" th:text="${board.title}"></a>  
						            	<span th:if="${board.commentList.size() > 0}">(<span th:text="${board.commentList.size()}"></span>)</span>
						            	</td>
						            <td  th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}"></td>
						            <td  th:text="${board.author}"></td>
						            <td  th:text="${board.viewcount}"></td>
						        </tr>     
					        </tbody>
					    </table>
					    	<!-- =======================================================
				            ************************************************************
				                    
				            페이징 기능
				                    
				            ************************************************************
				            ======================================================== -->
				           <div>
				            <div th:if="${!paging.isEmpty()}" aria-label="Page navigation">
						        <ul class="pagination justify-content-center">
						            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
						                <a class="page-link"
						                    th:href="@{|?page=${paging.number-1}|}" aria-label="Previous">
						                    <span>이전</span>
						                </a>
						            </li>
						            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
						            th:if="${page >= paging.number-3 and page <= paging.number+3}"
						                th:classappend="${page == paging.number} ? 'active'" 
						                class="page-item">
						                <a th:text="${page+1}" class="page-link" th:href="@{|?page=${page}|}"></a>
						            </li>
						            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
						                <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
						                    <span>다음</span>
						                </a>
						            </li>
						        </ul>
						    </div>
						    <div class=" d-flex justify-content-end">				        
								<a class="btn btn-primary" th:href="${MenuCate.boardLink + '/create/' + MenuCate.id}">작성</a>
							</div>
						</div>    

      <script th:inline="javascript">
        function redirectToDetail(boardId, menuCateId) {
            var url = '/form2/' + menuCateId + '/detail/' + boardId;
            window.location.href = url;
        }
      </script>

</div>
</html>