<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding: 35px 50px;">
                    <h4>
                        <span class="glyphicon glyphicon-lock"></span> 비밀번호 찾기
                    </h4>
                </div>
                <div class="modal-body" style="padding: 40px 50px;">
                    <center>입력된 정보로 임시 비밀번호가 전송됩니다.</center>
                </div>
                <hr>
                <form action="/findpw" method="post">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                    <p>
                        이메일 : <input type="email" name="email" placeholder="가입 시 등록한 이메일을 입력하세요." required>
                    <p>
                        <input type="submit" value="비밀번호 찾기">
                        <a href="/"> 메인으로 가기</a>
                </form>
            </div>
        </div>
    </div>
</div>