<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<h3>현재 권한상태: <span th:text="${#authentication.name}"></span></h3>
	<p>
		<a href="/autho/admin">admin</a>
	<p>
		<a href="/autho/manager">manager</a>	

<div sec:authorize="isAuthenticated()">[ Logged in ]</div><br>
admin <div sec:authorize="hasRole('ROLE_ADMIN')">[ yes ]</div><br>
manager <div sec:authorize="hasRole('ROLE_MANAGER')">[ yes ]</div><br>
	<br>
	<a href="/">메인으로 가기</a>
	<a sec:authorize="isAnonymous()" th:href="@{/signin}">로그인</a>
	<a sec:authorize="isAuthenticated()" th:href="@{/signout}">로그아웃</a>
</body>
</html>