<!DOCTYPE html>
<html layout:decorate="~{layouts/layout_board}">
<head>
<script src="/vendors/simplebar/simplebar.min.js"></script>
<script src="/assets_p/js/config.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
<link
   href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
   rel="stylesheet">
<link href="/vendors/simplebar/simplebar.min.css" rel="stylesheet">
<link rel="stylesheet"
   href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
<link href="/assets_p/css/theme-rtl.min.css" type="text/css"
   rel="stylesheet" id="style-rtl">
<link href="/assets_p/css/theme.min.css" type="text/css"
   rel="stylesheet" id="style-default">
<link href="/assets_p/css/user-rtl.min.css" type="text/css"
   rel="stylesheet" id="user-style-rtl">
<link href="/assets_p/css/user.min.css" type="text/css" rel="stylesheet"
   id="user-style-default">
<link href="/vendors/flatpickr/flatpickr.min.css" rel="stylesheet" />
<script>
   var phoenixIsRTL = window.config.config.phoenixIsRTL;
   if (phoenixIsRTL) {
      var linkDefault = document.getElementById('style-default');
      var userLinkDefault = document.getElementById('user-style-default');
      linkDefault.setAttribute('disabled', true);
      userLinkDefault.setAttribute('disabled', true);
      document.querySelector('html').setAttribute('dir', 'rtl');
   } else {
      var linkRTL = document.getElementById('style-rtl');
      var userLinkRTL = document.getElementById('user-style-rtl');
      linkRTL.setAttribute('disabled', true);
      userLinkRTL.setAttribute('disabled', true);
   }
</script>
</head>
<div layout:fragment="content_main">
   <h2>프로필</h2>
   <div class="content">
      <form action="/profile/update" method="post"
         enctype="multipart/form-data">
         <input type="hidden" name="${_csrf.parameterName}"
            value="${_csrf.token}" />
         <div class="d-flex align-items-center">
            <div class="col-60 col-xl-12">
               <div class="card mb-5">
                  <div class="card-header hover-actions-trigger position-relative mb-6"
                     style="min-height: 150px;">
                     <div class="bg-holder rounded-top">
                     <img id="back-image" th:src="|${downpath}/${cuser.cbackimage}|" height="150px" width="1050px">
                        <input class="d-none" id="upload-settings-cover-image" name="inputback" type="file" />
                        <div
                           class="hover-actions end-0 bottom-0 pe-1 pb-2 text-white dark__text-gray-1100">
                           <img id="profile-image" class="rounded-circle img-thumbnail shadow-sm border-0"
                              th:src="|${downpath}/${cuser.cprofileimage}|"  width="100px">
                        </div>
                        <label class="cover-image-file-input"
                           for="upload-settings-cover-image"></label>
                        <div    
                           class="hover-actions end-0 bottom-0 pe-1 pb-2 text-white dark__text-gray-1100">
                           <span class="fa-solid fa-camera me-2"></span>
                        </div>
                     </div>
                     <input class="d-none" id="cprofileimage" name="inputprofile" type="file" /> 
                        <label
                        class="avatar avatar-4xl status-online feed-avatar-profile cursor-pointer"
                        for="cprofileimage"> <img
                        class="rounded-circle img-thumbnail shadow-sm border-0"
                        th:src="|${downpath}/${cuser.cprofileimage}|" width="150" alt="" /></label>
                  </div>

                  <div class="card-body">
                     <div class="row">
                        <div class="col-12">
                           <div class="d-flex flex-wrap mb-2 align-items-center">
                              <h3 class="me-2" th:text="${cuser.cname}"></h3>
                              <span class="fw-normal fs-8" th:text="${cuser.username}"></span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="mb-6">
            <div class="row g-3">
               <h4 class="mb-4">개인정보</h4>
               <input class="form-control form-icon-input" id="cid" name="cid"
                  type="hidden" th:value="${cuser.cid}" /> <input
                  class="form-control form-icon-input" id="username" name="username"
                  type="hidden" th:value="${cuser.username}" /> <input
                  class="form-control form-icon-input" id="cdate" name="cdate"
                  type="hidden" th:value="${cuser.cdate}" />
                  <input class="form-control form-icon-input" id="cbackimage" name="cbackimage"
                  type="hidden" th:value="${cuser.cbackimage}" />
                  <input class="form-control form-icon-input" id="cprofileimage" name="cprofileimage"
                  type="hidden" th:value="${cuser.cprofileimage}" />
               <div class="col-12 col-sm-6">
                  <div class="form-icon-container">
                     <div class="form-floating">
                        <input class="form-control form-icon-input" id="cname"
                           name="cname" style="font-size: 20px; height: 65px;" type="text"
                           placeholder="이름" th:value="${cuser.cname}" /> <label
                           class="text-body-tertiary form-icon-label"
                           style="font-size: 15px;" for="cname"> 이름 </label>
                     </div>
                     <span class="fa-solid fa-user text-body fs-9 form-icon"></span>
                  </div>
               </div>
               <div class="col-12 col-sm-6">
                  <div class="form-icon-container">
                     <div class="form-floating">
                        <input class="form-control datetimepicker flatpickr-input"
                           id="datepicker" name="cbirth" type="text"
                           style="font-size: 18px; height: 65px;"
                           data-options="{&quot;disableMobile&quot;:true,&quot;dateFormat&quot;:&quot;Y-m-d&quot;}"
                           th:value="${cuser.cbirth}" readonly="readonly"> <label
                           class="text-body-tertiary form-icon-label"
                           style="font-size: 15px;" for="cbirth"> 생년월일 </label>

                     </div>
                     <span class="fa-solid fa-user text-body fs-9 form-icon"></span>
                  </div>
               </div>


               <div class="col-12 col-sm-6">
                  <div class="form-icon-container">
                     <div class="form-floating">
                        <input class="form-control form-icon-input" id="cphone"
                           name="cphone" style="font-size: 20px; height: 65px;"
                           type="text" placeholder="전화번호" th:value="${cuser.cphone}" /> <label
                           class="text-body-tertiary form-icon-label"
                           style="font-size: 15px;" for="cphone"> 전화번호 </label>
                     </div>
                     <span class="fa-solid fa-user text-body fs-9 form-icon"></span>
                  </div>
               </div>
               <div class="col-12 col-sm-6">
                  <div class="form-icon-container">
                     <div class="form-floating">
                        <input class="form-control form-icon-input" id="caddr"
                           name="caddr" style="font-size: 20px; height: 65px;" type="text"
                           placeholder="주소" th:value="${cuser.caddr}" /> <label
                           class="text-body-tertiary form-icon-label"
                           style="font-size: 15px;" for="caddr"> 주소 </label>
                     </div>
                     <span class="fa-solid fa-user text-body fs-9 form-icon"></span>
                  </div>
               </div>
               <div class="col-12 col-sm-15">
                  <div class="form-icon-container">
                     <div class="form-floating">
                        <textarea class="form-control form-icon-input" id="cinfo"
                           name="cinfo" style="font-size: 20px; height: 100px;"
                           placeholder="자기소개" th:text="${cuser.cinfo}"></textarea>
                        <label class="text-body-tertiary form-icon-label"
                           style="font-size: 15px;" for="cinfo"> 자기소개 </label>
                     </div>
                     <span class="fa-solid fa-circle-info text-body fs-9 form-icon"></span>
                  </div>
               </div>
               <div th:if="${#authorization.expression('hasRole(''ADMIN'') or hasRole(''MANAGER'')')}" class="col-12 col-sm-6">
                  <div class="form-icon-container">
                     <div class="form-floating">
                        <select name="role" id="role"
                           class="form-control form-icon-input"
                           style="font-size: 20px; height: 65px;"
                           onchange="this.form.submit()">
                           <option th:value="${cuser.role}" th:text="${cuser.role}"
                              selected></option>
                           <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                           <option value="ROLE_MANAGER">ROLE_MANAGER</option>
                           <option value="ROLE_USER">ROLE_USER</option>
                        </select> <label class="text-body-tertiary form-icon-label"
                           style="font-size: 15px;" for="role"> 권한 </label>
                     </div>
                     <span class="fa-solid fa-user text-body fs-9 form-icon"></span>
                  </div>
               </div>
               <div class="col-12 col-sm-6">
                  <div class="form-icon-container">
                     <div class="form-floating">
                        <input class="form-control form-icon-input" id="enabled"
                           name="enabled" style="font-size: 20px; height: 65px;"
                           type="hidden" placeholder="활성화여부" th:value="${cuser.enabled}"
                           readonly />
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row gx-3 mb-6 gy-6 gy-sm-3">
            <div class="col-12 col-sm-6">
               <h4 class="mb-4">직업정보</h4>
               <div class="form-icon-container mb-3">
                  <div class="form-floating">
                     <input class="form-control form-icon-input" id="cjob" name="cjob"
                        style="font-size: 20px; height: 65px;" type="text"
                        placeholder="직업명" th:value="${cuser.cjob}" /> <label
                        class="text-body-tertiary form-icon-label"
                        style="font-size: 15px;" for="cjob"> 직업명 </label>
                  </div>
                  <span class="fa-solid fa-building text-body fs-9 form-icon"></span>
               </div>
               <div class="form-icon-container">
                  <div class="form-floating">
                     <input class="form-control form-icon-input" id="caffiliation"
                        style="font-size: 20px; height: 65px;" name="caffiliation"
                        type="text" placeholder="현재소속" th:value="${cuser.caffiliation}" />
                     <label class="text-body-tertiary form-icon-label"
                        style="font-size: 15px;" for="caffiliation"> 현재 소속 </label>
                  </div>
                  <span class="fa-solid fa-globe text-body fs-9 form-icon"></span>
               </div>
            </div>
            <div class="col-12 col-sm-6">
               <h4 class="mb-4">비밀번호 변경</h4>
               <div class="form-icon-container mb-3">
                  <div class="form-floating">
                     <input class="form-control form-icon-input" id="currentPassword"
                        style="font-size: 20px; height: 65px;" name="password"
                        type="hidden" placeholder="현재 비밀번호" th:value="${cuser.password}" />

                  </div>
                  <span class="fa-solid fa-lock text-body fs-9 form-icon"></span>
               </div>
               <div class="form-icon-container mb-3">
                  <div class="form-floating">
                     <input class="form-control form-icon-input" id="newPassword"
                        style="font-size: 20px; height: 65px;" name="newPassword"
                        type="password" placeholder="새 비밀번호" /> <label
                        class="text-body-tertiary form-icon-label"
                        style="font-size: 15px;" for="newPassword"> 새 비밀번호 </label>
                  </div>
                  <span class="fa-solid fa-key text-body fs-9 form-icon"></span>
               </div>
               <div class="form-icon-container">
                  <div class="form-floating">
                     <input class="form-control form-icon-input"
                        id="confirmNewPassword" name="confirmNewPassword"
                        style="font-size: 20px; height: 65px;" type="password"
                        placeholder="새 비밀번호 확인" /> <label
                        class="text-body-tertiary form-icon-label"
                        style="font-size: 15px;" for="confirmNewPassword"> 새
                        비밀번호 확인 </label>
                  </div>
                  <span class="fa-solid fa-key text-body fs-9 form-icon"></span>
               </div>
            </div>
         </div>
         <div class="mb-6">
            <h4 class="mb-4">소셜 미디어</h4>
            <div class="row g-3">
               <div class="col-12 col-sm-6">
                  <div class="form-icon-container">
                     <div class="form-floating">
                        <input class="form-control form-icon-input" id="cinsta"
                           style="font-size: 20px; height: 65px;" name="cinsta"
                           type="text" placeholder="Instagram" th:value="${cuser.cinsta}" />
                        <label class="text-body-tertiary form-icon-label"
                           style="font-size: 15px;" for="cinsta"> Instagram </label>
                     </div>
                     <span class="fa-brands fa-instagram text-body fs-9 form-icon"></span>
                  </div>
               </div>
               <div class="col-12 col-sm-6">
                  <div class="form-icon-container">
                     <div class="form-floating">
                        <input class="form-control form-icon-input" id="cyoutube"
                           style="font-size: 20px; height: 65px;" name="cyoutube"
                           type="text" placeholder="Youtube" th:value="${cuser.cyoutube}" />
                        <label class="text-body-tertiary form-icon-label"
                           style="font-size: 15px;" for="cyoutube"> Youtube </label>
                     </div>
                     <span class="fa-brands fa-youtube text-body fs-9 form-icon"></span>
                  </div>
               </div>
               <div class="col-12 col-sm-6">
                  <div class="form-icon-container">
                     <div class="form-floating">
                        <input class="form-control form-icon-input" id="cnaver"
                           style="font-size: 20px; height: 65px;" name="cnaver"
                           type="text" placeholder="Naver" th:value="${cuser.cnaver}" />
                        <label class="text-body-tertiary form-icon-label"
                           style="font-size: 15px;" for="cnaver"> Naver </label>
                     </div>
                     <span class="fa-solid fa-globe text-body fs-9 form-icon"></span>
                  </div>
               </div>
            </div>
         </div>
         <div class="text-end mb-6">
            <div>
               <button type="button" class="btn btn-primary"
                  data-bs-toggle="modal" data-bs-target="#exampleModal">
                  저장하기</button>

               <!-- Modal -->
               <div class="modal fade" id="exampleModal" tabindex="-1"
                  aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content">
                        <div class="modal-header">
                           <h1 class="modal-title fs-5" id="exampleModalLabel">저장하시겠습니까?</h1>
                           <button type="button" class="btn-close" data-bs-dismiss="modal"
                              aria-label="Close"></button>
                        </div>
                        <div class="modal-footer">
                           <button type="reset" class="btn btn-secondary"
                              data-bs-dismiss="modal">취소하기</button>
                           <button type="submit" class="btn btn-primary">저장하기</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </form>
   </div>
   <script src="/vendors/popper/popper.min.js"></script>
   <script src="/vendors/bootstrap/bootstrap.min.js"></script>
   <script src="/vendors/anchorjs/anchor.min.js"></script>
   <script src="/vendors/is/is.min.js"></script>
   <script src="/vendors/fontawesome/all.min.js"></script>
   <script src="/vendors/lodash/lodash.min.js"></script>
   <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
   <script src="/vendors/list.js/list.min.js"></script>
   <script src="/vendors/feather-icons/feather.min.js"></script>
   <script src="/vendors/dayjs/dayjs.min.js"></script>
   <script src="/assets_p/js/phoenix.js"></script>
   <script src="/vendors/flatpickr/flatpickr.min.js"></script>



</div>


</html>