<html layout:decorate="~{layouts/layout_board}">
<div layout:fragment="content_main">
<style>
.table th, .table td {
    padding: 10px; /* 셀의 패딩 */
    
}
.table th{
text-align: center;
}

.table .number-column {
    width: 40px; /* 번호 열의 너비 */
}

.table .title-column {
    width: 240px; /* 제목 열의 너비 */
    max-width: 240px; /* 제목 열의 최대 너비 */
    overflow: hidden;
   
}
.table .table-row{
	text-align: center;
}

.table .date-column {
    width: 90px; /* 등록일 열의 너비 */
}

.table .author-column {
    width: 100px; /* 작성자 열의 너비 */
}

.table .view-column {
    width: 80px; /* 조회 열의 너비 */
}
*{
font-family: "IBM Plex Sans KR", sans-serif;
}
.table-container {
    overflow-x: auto;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}
.table {
    min-width: 900px; /* 필요에 따라 최소 너비를 조정하세요 */
}
</style>
<h2 class="mb-3" th:text="${MenuCate.categoryName}"></h2>
					    <div class="container mt-3">
					    	<div class="row justify-content-end">
					        	<div class="col-auto">
					        		<!-- =======================================================
				                    ************************************************************
				                    
				                    브레드크럼-현재 위치
				                    
				                    ************************************************************
				                    ======================================================== -->
					            	<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
						                <ol class="breadcrumb">
						                    <li class="breadcrumb-item active">Home</li>
						                    <li class="breadcrumb-item active" aria-current="page"><span th:text="${MenuCate.menuName}"></span></li>
						                    <li class="breadcrumb-item active" aria-current="page"><span th:text="${MenuCate.categoryName}"></li>
						                </ol>
					            	</nav>
					        	</div>
					    	</div>
						</div>
						<div th:if="${#strings.equals(param.error, 'tooManyNotices')}" style="color: red;">
						    공지글이 너무 많아 일반글로 저장했습니다.
						</div>
						<div style="margin-bottom:10px" class=" d-flex justify-content-end" th:if="${MenuCate.id==9} or ${#authorization.expression('hasAnyRole(' + adminOrManagerRoles + ')')}">				        
								<a class="btn btn-primary" th:href="${MenuCate.boardLink + '/create/' + MenuCate.id}">작성</a>
							</div>
						<!-- =======================================================
				        ************************************************************
				                    
				        게시판-공지글은 class로 스타일이 지정이 안돼 inline으로 스타일 지정
				                    
				        ************************************************************
				        ======================================================== -->
				        <div class="table-container">					
					    <table class="table">
					        <thead>
					        <tr>
					            <th class="number-column">번호</th>
					            <th class="title-column">제목</th>
					            <th class="date-column">등록일</th>
					            <th class="author-column">작성자</th>
					            <th class="view-column">조회</th>
					        </tr>
					        </thead>
					        <tbody>

						         <tr th:each="board : ${notices}">						    

						            <td class="table-row" Style="background-color:#ABABAB">공지</td>
						            <td Style="background-color:#ABABAB; cursor: pointer;" th:onclick="'redirectToDetail(' + ${board.id} + ', ' + ${MenuCate.id} + ')'">
						            	<a class="title-link" th:href="@{'' + ${MenuCate.id} + '/detail/' + ${board.id}}" th:text="${board.title}"></a>  
						            	<span th:if="${board.commentList.size() > 0}">(<span th:text="${board.commentList.size()}"></span>)</span>
						            	</td>
						            <td class="table-row" Style="background-color:#ABABAB" th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}"></td>
						            <td class="table-row" Style="background-color:#ABABAB">
						            	<span class="author" th:if="${board.cuser == null}" th:text="${board.author}"></span>
            							<span class="author" th:unless="${board.cuser == null}" th:text="${board.cuser.cname}"></span></td>
						            <td class="table-row" Style="background-color:#ABABAB" th:text="${board.viewcount}"></td>
						        </tr>

						        <tr th:each="board,loop : ${paging}"  class="normal-row">						    

						            <td class="table-row" th:text="${paging.totalElements - (paging.number * paging.size) - loop.index}"></td>
					           		<td style="cursor: pointer;" th:onclick="'redirectToDetail(' + ${board.id} + ', ' + ${MenuCate.id} + ')'">
						            	<a class="title-link" th:href="@{'' + ${MenuCate.id} + '/detail/' + ${board.id}}" th:text="${board.title}"></a>  
						            	<span th:if="${board.commentList.size() > 0}">(<span th:text="${board.commentList.size()}"></span>)</span>
					            	</td>

						            <td class="table-row" th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}"></td>
						            <td class="table-row">
						             	<span class="author" th:if="${board.cuser == null}" th:text="${board.author}"></span>
            							<span class="author" th:unless="${board.cuser == null}" th:text="${board.cuser.cname}"></span>
            						</td>
						            <td class="table-row" th:text="${board.viewcount}"></td>
						        </tr>     
					        </tbody>
				    	</table>
				    	</div>
					    	<!-- =======================================================
				            ************************************************************
				                    
				            페이징 기능
				                    
				            ************************************************************
				            ======================================================== -->
						<div class="d-flex justify-content-end mt-3">
						    <form method="get" class="d-flex" style="gap: 0.1rem;" th:onsubmit="setSearch(event);" th:data-menu-id="${MenuCate.id}">
							    <select name="searchType" id="searchType" class="form-select form-select-sm" aria-label="Search Type" style="width: 120px;">
							        <option value="title" th:selected="${searchType == 'title'}">제목</option>
							        <option value="author" th:selected="${searchType == 'author'}">작성자</option>
							        <option value="title_author" th:selected="${searchType == 'title_author'}">제목+작성자</option>
							    </select>
							    <input type="text" name="query" id="query" class="form-control form-control-sm" placeholder="검색어 입력" style="width: 160px;" th:value="${query}">
							    <button type="submit" class="btn btn-primary btn-sm">검색</button>
							</form>
						
						</div>    
				           <div>
				            <div th:if="${!paging.isEmpty()}" aria-label="Page navigation">
						        <ul class="pagination justify-content-center">
						            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
						                <a class="page-link"
						                    th:href="@{|?page=${paging.number-1}|}" aria-label="Previous">
						                    <span>이전</span>
						                </a>
						            </li>
						            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
						            th:if="${page >= paging.number-3 and page <= paging.number+3}"
						                th:classappend="${page == paging.number} ? 'active'" 
						                class="page-item">
						                <a th:text="${page+1}" class="page-link" th:href="@{|?page=${page}|}"></a>
						            </li>
						            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
						                <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
						                    <span>다음</span>
						                </a>
						            </li>
						        </ul>
						    </div> 						   
						</div>
						 
      <script th:inline="javascript">
        function redirectToDetail(boardId, menuCateId) {
            var url = '/form2/' + menuCateId + '/detail/' + boardId;
            window.location.href = url;
        }
        
        document.addEventListener("DOMContentLoaded", function() {
            const maxLength = 20; // 제목의 최대 길이 설정
            const links = document.querySelectorAll('.title-link');

            links.forEach(link => {
                if (link.textContent.length > maxLength) {
                    link.textContent = link.textContent.substring(0, maxLength) + '...';
                }
            });
        });
        
        document.addEventListener("DOMContentLoaded", function() {
            const maxLength = 8; // 제목의 최대 길이 설정
            const links = document.querySelectorAll('.author');

            links.forEach(link => {
                if (link.textContent.length > maxLength) {
                    link.textContent = link.textContent.substring(0, maxLength) + '...';
                }
            });
        });
        
        function setSearch(event) {
            event.preventDefault(); 
            var searchType = document.getElementById('searchType').value;
            var query = document.getElementById('query').value;
            var form = event.target;
            var menuId = form.getAttribute('data-menu-id');
            var boardLink = form.closest('form').action;
            
            var searchUrl = `${boardLink}/search?searchType=${searchType}&query=${query}`;
            console.log(searchUrl);
            form.action = searchUrl;
            form.submit();
        }
        
        function setPageLinks() {
            const searchType = document.getElementById('searchType').value;
            const query = document.getElementById('query').value;
            const pageLinks = document.querySelectorAll('.pagination a.page-link');

            pageLinks.forEach(link => {
                const url = new URL(link.href);
                url.searchParams.set('searchType', searchType);
                url.searchParams.set('query', query);
                link.href = url.toString();
            });
        }

        document.addEventListener("DOMContentLoaded", function() {
            setPageLinks();
        });
      </script>

</div>
</html>