<html layout:decorate="~{layouts/layout_board}">
<div layout:fragment="content_main">

<form action="/form3/create" method="post" enctype="multipart/form-data">
		<input type="hidden" name="menuId" th:value="${MenuCate.id}">
	<p>제목 : <input type="text" name="title">
	<p>첨부파일 : <input type="file" name="multipartFiles" multiple>
	
	<p><input type="submit" value="작성">
</form>
	<div id="fileList"></div>
</div>

<script>
    document.getElementById('fileInput').addEventListener('change', function(event) {
        const fileList = document.getElementById('fileList');
        fileList.innerHTML = ''; // 기존 목록 초기화

        // 선택된 파일 목록 가져오기
        const files = event.target.files;

        // 파일 목록을 HTML로 생성하여 표시
        for (let i = 0; i < files.length; i++) {
            const file = files[i];
            const listItem = document.createElement('div');
            listItem.textContent = file.name;
            fileList.appendChild(listItem);
        }
    });
</script>
</html>