<!DOCTYPE html>
<html layout:decorate="~{layouts/layout_board}">
<div layout:fragment="content_main">

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<style>
	.error {
    border-color: red !important;
    border-width: 2px !important; /* 선을 더 굵게 설정 */
  }
  .valid {
	    border-color: green;
	    border-width: 2px; 
	 }
</style>

	<form method="post" onsubmit="return validateForm()">
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<input type="hidden" name="id" th:value="${board.id}">
		<input type="hidden" name="date" th:value="${board.createDate}">
		<input type="hidden" name="viewcount" th:value="${board.viewcount}">
		<input type="hidden" name="notice" th:value="${board.notice}">
		<input type="hidden" name="menuId" th:value="${board.menuId}">
		<input type="hidden" th:each="comment:${board.commentList}" th:value="${board.commentList}">
		<div class="row">
			<div class="col-md-6 mb-4">
				<input type="text" name="title" id="title" class="form-control mb-2" th:value="${board.title}">
				<input type="text" name="author" id="author" class="form-control" th:value="${board.author}">
			</div>
			<div class="col-md-6 mb-4 d-flex justify-content-end align-items-end">
			</div>
			<div class="mb-4">
				<textarea name="content" id="summernote" rows="10" th:text="${board.content}"></textarea>
			</div>
			<div class="d-flex justify-content-end mb-4">
				<a th:href="@{/form2/{id}(id=${MenuCate.id})}" class="btn btn-primary me-2">취소</a>
				<input type="submit" value="수정" class="btn btn-primary">
			</div>
		</div>
	</form>		

<script>
      $('#summernote').summernote({
        placeholder: '',
        tabsize: 2,
        height: 550,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view']
        ],
        callbacks: {
            onImageUpload: function(image) {
               
                   var file = image[0];
                   var reader = new FileReader();
                  reader.onloadend = function() {
                      var image = $('<img>').attr('src',  reader.result);
                         image.attr('width','50%');
                      $('#summernote').summernote("insertNode", image[0]);
                  }
                 reader.readAsDataURL(file);
              
            }
        }
      });
      
      function validateForm() {
			var isValid = true;

			if (!$('#title').val().trim()) {
				$('#title').addClass('error is-invalid');
				$('#title').attr('placeholder', '제목을 입력하세요');
				isValid = false;
			} else {
				$('#title').removeClass('error is-invalid');
				$('#title').attr('placeholder', '제목');
			}

			if (!$('#author').val().trim()) {
				$('#author').addClass('error is-invalid');
				$('#author').attr('placeholder', '작성자를 입력하세요');
				isValid = false;
			} else {
				$('#author').removeClass('error is-invalid');
				$('#author').attr('placeholder', '작성자');
			}

			if (!$('#summernote').val().trim()) {         
				$('.note-placeholder').text('내용을 입력하세요');
				isValid = false;
			} else {
				$('.note-placeholder').text('내용');
			}
			
			if (!isValid) {
              window.scrollTo(0, 0);
          }

			return isValid;
		}

		// 입력 시 유효성 검사 및 스타일 변경
		$('#title, #author').on('input', function() {
			if ($(this).val().trim()) {
				$(this).removeClass('error is-invalid').addClass('valid');
			} else {
				$(this).removeClass('valid').addClass('error is-invalid');
			}
		});

		$('#postForm').on('submit', function(event) {
			if (!validateForm()) {
				event.preventDefault();
			}
		});
    </script>
</div>
</html>