@charset "UTF-8";

/* <!-- 자유게시판 테이블 스타일 나중에 옮겨야함 -->
  <!-- =======================================================
  	************************************************************
                    
  	게시판 css 
                
  	************************************************************
  	======================================================== --> */
  	.ibm-plex-sans-kr-regular {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*{
	 font-family: "IBM Plex Sans KR", sans-serif;
}

.table {
     border-collapse: separate;
     border-spacing: 0;     
     box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1); /* 약간의 그림자 추가 */
     background-color: white;
     border-radius: 7px; 
     overflow: hidden;
     overflow: auto;
}

.table thead th {
	background-color: #e9ecef;
}

.table td, .table th, .table a{
	font-size: 0.875rem; /* 글꼴 크기를 줄입니다 */   
    color: black;
}
        
	/* <!-- =======================================================
    ************************************************************
                    
    브레드크럼(경로) css 
                
    ************************************************************
    ======================================================== --> */
	
.breadcrumb .breadcrumb-item a,
.breadcrumb .breadcrumb-item.active {
	color: black;
	font-size: 14px; /* 원하는 크기로 조정 */
}
	