@charset "UTF-8";

table {
	table-layout: fixed;
	width: 100%;
	}
	th, td {
	width: 33.33%;
    text-align: left;
    padding: 8px;
    }
    th,td:hover{
    cursor:pointer;
    }
    .modal-title, .btn, input.form-control {
    font-size: 14px;
    }
     .btn-blue {
        background-color: blue;
        border: none;
        color: white;
        margin-bottom: 10px;
    }
    .btn-container {
        display: flex;
        justify-content: flex-end;
    }
    h1{
    font-size:25px;
    margin-bottom:10px;
    }
    p{
    font-size:20px;
    margin-top:10px;
    }