@charset "UTF-8";

	.table {
        min-width: 800px; /* 테이블의 최소 너비를 설정하여 스크롤이 나타나게 함 */
    }
	th, td {
	width: 25%;
    text-align: center;
    padding: 8px;
    
    }
    .youtube-title{
    text-align: left;
    }
    th,td:hover{
    cursor:pointer;
    }
    .modal-title, .btn, input.form-control {
    font-size: 14px;
    }
     .btn-blue {
        background-color: blue;
        border: none;
        color: white;
        margin-bottom: 10px;
    }
    .btn-container {
        display: flex;
        justify-content: flex-end;
    }
    h1{
    font-size:25px;
    margin-bottom:10px;
    }
    p{
    font-size:20px;
    margin-top:10px;
    }